.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__inner {
  background: #ffffff;
  height: 88px;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items--left {
  margin-right: 18px;
}

.header__item:not(:last-child) {
  margin-right: 16px;
}

.header__divider {
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
}

.header__media-768px {
  display: none;
}

@media (min-width: 767px) {
  .header__media-768px {
    display: block;
  }
  .header__divider--media-320px {
    display: none;
  }
}
