.footer {
   border-top: solid 1px #d9fff5;
   padding: 16px 4px;
   &__menu {
      text-align: center;
      line-height: 16px;
      color: #7e7e82;
      mix-blend-mode: normal;
      opacity: 0.72;
   }

   &__menu-item {
      margin-bottom: 16px;
   }
}

@media (min-width: 768px) {

   .footer {
      padding: 32px 24px;
      &__menu {
         display: flex;
         justify-content: space-between;
      }
   
      &__menu-item {
         max-width: 220px;
      }

      &__menu-item:first-child {
         text-align: left;
      }

      &__menu-item:last-child {
         text-align: right;
      }
   }
   
}
