.page {
   min-width: 320px;
   max-width: 1440px;
   margin: 0 auto;
   background: #f8f8f8;
   font-family: 'TT Lakes';
   color: #1B1C21;
   font-size: 14px;
   letter-spacing: 0.2px;
}

.item {
   width: 40px;
   height: 40px;
   background: #ff3e79;
   border-radius: 20px;
   
}

@media (any-hover: hover) {
   .item:hover {
      transition-duration: 0.6s;
      transform: scale(1.05);
      filter: opacity(80%);
   }
   
   .logo:hover {
      transition-duration: 0.6s;
      transform: scale(1.05);
      filter: opacity(80%);
   }
}

.subheader {
   background: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
   padding-left: 16px;
   min-width: 320px;
   min-height: 56px;
   display: flex;
   align-items: center;
   border-top: solid 1px #d9fff5;
}

.subtitle {
   font-size: 16px;
   letter-spacing: -0.2px;
   text-transform: uppercase;
   color: #7e7e82;
   font-weight: 500;
   margin: 16px 0;
   line-height: 24px;
}

// Стили Swiper
.repair-brand__item,
.repair-types__item,
.swiper-slide {
   box-sizing: content-box;
}

.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background: #DDDDDD;
}

.swiper-pagination-bullet-active {
   background: #B5B6BC;
}
// ------------------------------------------


