.phone {
   position: absolute;
   right: -100%;
   z-index: 25;
   width: 100%;
   background: #fff;
   min-height: 100%;
   padding: 24px 16px;

   &__item {
      margin-bottom: 40px;
   }

   &__title {
      position: relative;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.6px;
      color: #1b1c21;
      margin-bottom: 24px;
   }

   &__title::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 40px;
      background: #41f6d7;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-left: -16px;
      top: -10px;
   }

   &__form-item {
      width: 100%;
      height: 48px;
      border: 1px solid #eaeaea;
      border-radius: 8px;
      margin-bottom: 16px;
      resize: none;
      padding-left: 16px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
   }

   &__text {
      font-size: 14px;
      color: #7e7e82;
      font-weight: 500;
      margin-bottom: 16px;
   }

   &__text-link {
      color: #ff3e79;
   }

   &__btn {
      background: #ff3e79;
      border-radius: 16px;
      width: 136px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
   }

   &__btn span {
      font-size: 12px;
      letter-spacing: -0.15px;
      text-transform: uppercase;
      color: #ffffff;
      margin-right: 12px;
      font-weight: 500;
   }

   &--open {
      transition-property: all;
      transition-delay: -0.2s;
      transition-duration: 0.7s;
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), -16px 0px 52px rgba(14, 24, 80, 0.2);
      right: 0;
   }

   &--close {
      transition-property: all;
      transition-duration: 0.7s;
   }
}

@media (min-width: 520px) {
   .phone {
      width: 440px;
      padding: 40px 32px;

      &__item {
         margin-bottom: 0;
         position: absolute;
         top: 30px;
         left: -70px;
      }
   
      &__title::before { 
         margin-left: -32px;
      }
   }
}
