.repair-brand {
   &__menu {
      height: 140px;
      padding: 16px 0 24px 16px;
   }

   &__item {
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      height: 40px;
      width: 208px;
      height: 72px;
      padding: 0 16px;
      transition: box-shadow 0.2s;
   }

   @media (any-hover: hover) {
      &__item:hover {
         box-shadow: 1px 1px 6px #474747; 
      }
   }

   &__link {
      height: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

}

.slider {
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}




