.repairs-header {
   background: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
   padding-left: 16px;
   min-width: 320px;
   min-height: 56px;
   display: flex;
   align-items: center;
   border-top: solid 1px #d9fff5;
}

.repairs {
   @media (max-width: 767px) {
      &__brand-header {
         min-height: 80px;
      }
   }

   &__brand-title {
      font-size: 16px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7e7e82;
      font-weight: 500;
   }

   &__brand-menu {
      height: 140px;
      padding: 16px 0 24px 16px;
   }

   &__brand-item {
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      height: 40px;
      width: 208px;
      padding: 16px;
      transition: box-shadow 0.2s;
   }

   @media (any-hover: hover) {
      &__brand-item:hover {
         box-shadow: 1px 1px 6px #474747; 
      }
   }
   &__brand-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

}

.repairs__brand-item,
.swiper-slide {
   box-sizing: content-box;
}

.slider {
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}

.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   background: #DDDDDD;
}

.swiper-pagination-bullet-active {
   background: #B5B6BC;
}
