.repair-brand {
   &__menu {
      position: relative;
      min-height: 140px;
      padding: 24px 0 24px 16px;
   }

   &__menu::before {
      content: "";
      position: absolute;
      background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      width: 24px;
      height: 81px;
      top: 10px;
      right: 0;
      z-index: 5;
   }

   &__item {
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      height: 40px;
      width: 208px;
      height: 70px;
      padding: 0 16px;
      transition: box-shadow 0.2s;
   }

   @media (any-hover: hover) {
      &__item:hover {
         box-shadow: 1px 1px 6px #474747;
         
      }
   }

   &__link {
      height: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

@media (max-width: 767px) {
   .repair-brand__btn {
      display: none;
   }
}

@media (min-width: 768px) {
   .repair-brand {
      

      &__menu {
         padding: 0;
         
      }

      &__menu::before {
         display: none;
        
      }

      &__menu-wrapper {
         display: flex;
         flex-wrap: wrap;
         max-height: 180px;
         overflow: hidden;
         margin-top: 16px;
         margin-bottom: 20px;
      }

      &__menu-wrapper--open {
         transition-property: all;
         transition-duration: 1.5s;
         max-height: 100vh;
      }
   
      &__menu-wrapper--close {
         transition-property: all;
         transition-duration: 0.7s;
         transition-delay: -0.3s;
      }

      &__item {
         width: 190px;
         margin: 8px 12px 8px 12px;
      }

      &__btn {
         margin-bottom: 24px;
      }
   }
}

@media (min-width: 1440px) {
   .repair-brand {
      &__menu {
         padding: 0;
         padding-left: 16px;
      }
      

      &__item {
         width: 206px;
         margin: 8px 16px 8px 16px;
      }

      &__btn {
         margin-bottom: 50px;
         margin-left: 12px;
      }
   }
}
