.service-menu {
   &__inner {
      padding-top: 112px;
      padding-bottom: 24px;
   }

   &__title {
      position: relative;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -0.6px;
      padding-left: 16px;
   }

   &__title::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 40px;
      background: #41f6d7;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-left: -16px;
      top: -8px;
   }

   &__list-inner {
      position: relative;
      padding-left: 16px;
   }

   &__list {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      padding: 32px 0 6px 2px;
      margin-bottom: 18px;
   }

   &__list-inner::before {
      content: "";
      background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      position: absolute;
      top: 30px;
      right: 0;
      width: 24px;
      height: 40px;
   }

   &__list::-webkit-scrollbar {
      width: 0;
   }

   &__list-item {
      cursor: pointer;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
      color: #7e7e82;
      padding: 8px 16px;
      margin-right: 20px;
   }

   @media (any-hover: hover) {
      &__list-item:hover {
         position: relative;
         background: #ffffff;
         border: 2px solid #b8ffec;
         border-radius: 6px;
         top: -2px;
         left: -2px;
         margin-bottom: -4px;
         margin-right: 16px;
      }
   }

   &__text-inner {
      overflow: hidden;
      height: 50px;
      margin-bottom: 16px;
   }

   &__text {
      padding: 0 16px;
      line-height: 18px;
   }

   &__text p {
      margin-bottom: 16px;
   }

   &__img {
      width: 100%;
      display: block;
      margin: 0 auto;
   }

   &__item-inner {
      display: none;
   }

   &__btn {
      margin-bottom: 16px;
   }

}

@media (min-width: 767px) {
   .service-menu {
      &__text {
         padding-left: 0;
         margin-right: 48px;
      }

      &__description {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         padding: 0 24px;
      }
      &__img {
         width: 46%;
      }
   }
}

@media (min-width: 1440px) {
   .service-menu {
      &__inner {
         padding-top: 42px;
      }

      &__list {
         overflow-x: none;
         display: flex;
         flex-wrap: wrap;
         line-height: 24px;
      }

      &__item-inner {
         display: flex;
         
      }

      &__title-inner {
         display: flex;
         justify-content: space-between;
         padding-right: 30px;
      }

      &__item-label {
        cursor: pointer;
      }

      &__item-label:first-child {
         margin-right: 32px;
      }

      &__item-label span {
         margin-right: 8px;
         font-size: 16px;
         letter-spacing: -0.2px;
         font-weight: 500;
      }

   }
}
