.sidebar-page {
	background: #fff;
	min-width: 320px;
	max-width: 320px;
	padding: 0 30px 0 20px;
}

.sidebar-header {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 37px;

	&__item:first-child {
		display: none;
	}
	

}

.sidebar-menu {
	
	&__list-item {
		position: relative;
		margin-bottom: 28px;
		transition-duration: 0.7s;
	}

	&__list-item:last-child {
		margin-bottom: 220px;
	}

	&__list-item:hover {
		opacity: 0.6;
	}

	&__list-item::before {
		content: "";
		opacity: 0;
		position: absolute;
		width: 4px;
		height: 32px;
		background: #41f6d7;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		top: -6px;
		left: -20px;
		transition-duration: 0.7s;
	}

	&__list-item:hover:before {
		opacity: 1;
	}

	&__list-btn {
		font-size: 16px;
		font-weight: 500;
		letter-spacing: -0.2px;
		background: inherit;
	}
}

.sidebar-footer {
	&__item-inner {
		display: flex;
		margin-bottom: 17px;
	}

	&__item {
		margin-right: 16px;
	}

	&__mail {
		font-size: 16px;
		font-weight: 500;
		letter-spacing: -0.2px;
		margin-bottom: 12px;
	}

	&__phone {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.6px;
		margin-bottom: 40px;
	}

	&__menu-language {
		display: flex;
	}

	&__list {
		margin-right: 7px;
		letter-spacing: -0.2px;
		color: #7e7e82;
	}

}


@media (max-width: 1439px) {
	.sidebar-header__item:first-child {
		display: block;
		margin-right: -56px;
	}

	.sidebar-page {
		position: absolute;
		z-index: 15;
		
		height: 100%;
		left: -100%;
		opacity: 1;
	}

	.sidebar-page--open {
		left: 0;
	}
}