@import 'reset.css';

@import 'font-face.css';

@import 'global.scss';

@import 'header.scss';
@import 'service-menu.scss';
@import 'repair-brand.scss';
@import 'repair-types.scss';
@import 'price.scss';
@import 'footer.scss';
@import 'sidebar.scss';
@import 'message.scss';
@import 'phone.scss';
